 
body {
    font-family: 'Noto Sans TC', sans-serif;
}

.jumbotron {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.nav-item:hover {
    cursor: pointer;
}

.nav-link:hover {
    font-weight: bold;
}

*[id]:before {
    display: block;
    content: " ";
    margin-top: -175px;
    height: 175px;
    visibility: hidden;
}

html {
    scroll-behavior: smooth;
}

.title-underline {
    padding-bottom: .7rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px #501d1d solid;
}

.dropdown .dropdown-menu {
    -webkit-transition: max-height 0.7s, opacity 0.2s 0.1s, visibility 0s 0.7s;
    -moz-transition: max-height 0.7s, opacity 0.2s 0.1s, visibility 0s 0.7s;
    -ms-transition: max-height 0.7s, opacity 0.2s 0.1s, visibility 0s 0.7s;
    -o-transition: max-height 0.7s, opacity 0.2s 0.1s, visibility 0s 0.7s;
    transition: max-height 0.7s, opacity 0.2s 0.1s, visibility 0s 0.7s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.dropdown.show .dropdown-menu {
    -webkit-transition: max-height 0.7s, opacity 0.2s, visibility 0s;
    -moz-transition: max-height 0.7s, opacity 0.2s, visibility 0s;
    -ms-transition: max-height 0.7s, opacity 0.2s, visibility 0s;
    -o-transition: max-height 0.7s, opacity 0.2s, visibility 0s;
    transition: max-height 0.7s, opacity 0.2s, visibility 0s;

    max-height: 400px;
    opacity: 1;
    visibility: visible;
}

.navbar-nav {
    line-height: 1.2;
}
@media(max-width:990px;){
    .navbar-nav {
        padding-left: 0.5rem;
        padding-right: 2rem;
        background-color:rgba(255,255,255,0.9);
    }
}

.hint-text {
    color: lightgray;
}

.container {
    max-width: 1080px;
    min-width: 325px;
    padding-right: 3rem;
    padding-left: 3rem;
}

.storyDifference_container {
    max-width: 1080px;
    min-width: 325px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin:0px auto;
}

.carousel-control-next-icon {
    width: 3rem;
    height: 5rem;
}

.carousel-control-prev-icon {
    width: 3rem;
    height: 5rem;
}

.carousel-inner{
    width: 100%;
}
@media(min-width: 1220px){
    .carousel-inner{
        width: 80%;
        margin: 0 auto;
        box-shadow:4px 4px 8px rgba(20%,20%,40%,0.5);
    }
}

.navbar{
    position: fixed;
    /* background-color: rgba(255,255,255,0.7); */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 66%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 66%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 66%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.navbar-collapse{
    background-color:rgba(255,255,255,0);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
@media(max-width: 990px;){
    .navbar-collapse{
        padding-left: 0.5rem;
        padding-right: 2rem;
        background-color:rgba(255,255,255,0.9);
    }
}

.storyDifference_img{
    display: inline-block;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-title{
    width: 100%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.storyDifference-title{
    width: 20%;
    text-align: center;
}

.mt-5_story{
    margin-left: 2rem;
    margin-right: 2rem;
}
.table{
    margin-left: auto; 
    margin-right: auto;
}
.storyDifference-item{
    width: 10%;
}
.storyTitle{
    font-size: 4em;
    padding-left: 4%;
}
.lead{
    padding-left: 5%;
    font-size: 120%;
    min-width: 100%;
}
.storybold{
    font-size: 1.2em;
    font-weight: bold;
}

.storySim_text{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2em;
}

.storySim_contain{
    color:#2c58a0;
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 10vw;
}

.index_title{
    text-align: center;
    font-weight: bold;
    font-size: 3.5vw;
    margin-top: 0.5rem;
    color:white;
    text-shadow:1px -1px 5px #0c243b;
}

.storySim_contain_2{
    color:#1562e0;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

.usageNotice_pd{
    padding-left: 40px;
}

.shopDistribution_tilte{
    font-weight: bold;
}

.conact_tilte{
    width: 100%;
}

.pictureDownlod{
    margin:0 auto;
    
}

.pictureDownlodto{
    width: 75%;
}

.explainWord{
    color:#1562e0;
}

.medal{
    width: 15%;
    margin: 0 auto;
    display: block;
}

.shopDistribution_button{
    width: 30%;
    white-space: nowrap;
}

.refer{
    color: black;
}