<!doctype html>
<html lang="zh-Hans">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <title>crystalframe</title>
</head>
<body>
<nav class="UP navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="Ch_index.html"><img src="logo.png" class="mr-2 logo_rwd"></a>
    <a class="navbar-brand" href="Ch_index.html">crystalframe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="index.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false" >
                    3D
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="Ch_crystalframe.html"><img src="img/silver_logo.png"
                                                                           style="width: 2rem"> 水晶框</a>
                    <a class="dropdown-item navdrop_center" href="Ch_crystalframeLED.html"><img src="img/gold_logo.png"
                                                                              style="width: 2rem">
                        LED水晶框</a>
                    <a class="dropdown-item navdrop_center" href="Ch_crystalframeIntro.html">&nbsp;&nbsp;3D&nbsp;教学</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="index.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    展现
                </div>
                <div class="dropdown-menu" style="min-width: 200px">
                    <a class="dropdown-item navdrop_center" href="Ch_crystalframeShowcase.html"><img class="img-fluid"
                                                                                   src="img/silver_logo.png"
                                                                                   style="width: 2rem"> 水晶框展现</a>
                    <a class="dropdown-item navdrop_center" href="Ch_crystalframeShowcaseLED.html"><img class="img-fluid"
                                                                                      src="img/gold_logo.png"
                                                                                      style="width: 2rem"> LED水晶框展现</a>
                    <a class="dropdown-item navdrop_center" href="Ch_showcaseVideo.html">&nbsp;&nbsp;参考影片</a>
                    <a class="dropdown-item navdrop_center" href="Ch_showcasePost.html">&nbsp;&nbsp;参考图文</a>
                    <!-- <a class="dropdown-item" href="showcaseBusinessAd.html">&nbsp;&nbsp;商业广告</a> -->
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="story.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    认识
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="Ch_story.html">发明的故事</a>
                    <a class="dropdown-item navdrop_center" href="Ch_storyAdvantage.html">产品优势及应用</a>
                    <a class="dropdown-item navdrop_center" href="Ch_storyDifference.html">现代水晶框与传统的差异</a>
                    <a class="dropdown-item navdrop_center" href="Ch_storyCertificate.html">产品证书</a>
                    <a class="dropdown-item navdrop_center" href="Ch_storyPatent.html">专利布局</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="product.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    购买
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="Ch_product.html">目录及价格</a>
                    <a class="dropdown-item navdrop_center" href="Ch_productHot.html">热卖区</a>
                    <a class="dropdown-item navdrop_center" href="Ch_productSim.html">模拟服务</a>
                    <a class="dropdown-item navdrop_center" href="Ch_productWarranty.html">水晶框的保固</a>
                    <a class="dropdown-item navdrop_center" href="Ch_productIntro.html">购买&nbsp;教学</a>
                    <!-- <a class="dropdown-item" href="productOther.html">其他</a> -->
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="usageOperation.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    使用
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="Ch_usageOperation.html">水晶框操作影片</a>
                    <a class="dropdown-item navdrop_center" href="Ch_usageConstruction.html">水晶框结构图</a>
                    <a class="dropdown-item navdrop_center" href="Ch_usageNotice.html">水晶框注意事项</a>
                    <!-- <a class="dropdown-item" href="usageQA.html">客户问答 Q&A</a> -->
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="pictureExplain.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    美图
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="Ch_pictureExplain.html">美图说明</a>
                    <a class="dropdown-item navdrop_center" href="Ch_pictureDownload.html">美图下载</a>
                    <a class="dropdown-item navdrop_center" href="Ch_photographerMember.html">摄影师专区</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="shopDistribution.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     店家
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="Ch_shopShowcase.html">台湾展示店</a>
                    <a class="dropdown-item navdrop_center" href="Ch_shopDistribution.html">美国展示店</a>
                <!-- </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle" href="distributionMustKnow.html" role="button"
                     data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    经销
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="distributionMustKnow.html">经销商须知</a>
                    <a class="dropdown-item" href="distributionLearn.html">经销商学习</a>
                </div> -->
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="contactMainCompany.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     联络
                </div>
                <div class="dropdown-menu">
                    <!-- <a class="dropdown-item" href="contactMainCompany.html">台湾总公司</a> -->
                    <a class="dropdown-item navdrop_center" href="Ch_contactDistributionTaiwan.html">台湾总经销</a>
                    <a class="dropdown-item navdrop_center" href="Ch_contactInternationalPartner.html">日本总经销</a>
                </div>
            </li>
            <!-- <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle" href="aboutVideo.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    参考
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="aboutVideo.html">关于影片</a>
                </div>
            </li>   -->
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="#" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    语言
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="product.html">繁体中文</a>
                    <a class="dropdown-item navdrop_center" href="Ch_product.html">简体中文</a>
                    <a class="dropdown-item navdrop_center" href="En_product.html">English</a>
                    <a class="dropdown-item navdrop_center" href="#">日本语</a>
                </div>
            </li>
            <div class="nav_icon_item">
                    <li class="navbar-brand">
                        <a target="_blank" href="https://www.facebook.com/crystalframeyuweihsu/"><img class="navbar_Icon" src="img/nav_icon/nav_FB_icon.png"></a>
                    </li>
                    <li class="navbar-brand">
                        <a target="_blank" href="https://line.me/R/ti/p/5RSc-xDAjr"><img class="navbar_Icon" src="img/nav_icon/nav_line_icon.png"></a>
                    </li>
                    <li class="navbar-brand">
                        <a target="_blank" href="https://www.youtube.com/playlist?list=PLrRiQ3x2myYa4n6uiQhcri1_R5H2XvMjg">
                        <img class="navbar_Icon2" src="img/nav_icon/nav_youtube_icon.png"></a>
                    </li>
                </div>
        </ul>
    </div>
</nav>
<div style="font-family:Microsoft JhengHei bold;">
    <div class="jumbotron" style="margin-top:126px">
        <h1 class="display-6 text-center">购买</h1>
        <p class="lead"></p>
    </div>

    <section>
        <div class="container">
            <div id="price" class="mt-5">
                <h2 class="card-title title-underline">目录及价格</h2>
                <form>
                    <!--                    <div class="form-group row">-->
                    <!--                        <label for="frameProductType" class="col-sm-2 col-form-label">生产类型</label>-->
                    <!--                        <select class="col-10" id="frameProductType" v-model="frameProductType">-->
                    <!--                            <option value="R">常货型(R) - 常用出货型 有库存 可短期内出货</option>-->
                    <!--                            <option value="C">客制型(C) - 无库存 乃根据您的图片规格需求之特制水晶框</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->
                    <div class="form-group row">
                        <label for="service" class="col-sm-2 col-form-label">品项</label>
                        <select class="col-10" id="service" v-model="service">
                            <option value="crystalframe">水晶框系列</option>
                            <option value="picturePrinting">图纸服务 <span class="hint-text">- 本选择之图纸服务仅以单纯适用裱装于水晶框之输图，其他如数量较多如海报等请另询问</span>
                            </option>
                            <option value="accessory">配件</option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="service == 'accessory'">
                        <p class="lead text-center" >暂无开放</p>
                    </div>
                    <div class="form-group row" v-if="service != 'accessory'">
                        <label for="frameType" class="col-sm-2 col-form-label">水晶框种类</label>
                        <select class="col-10" id="frameType" v-model="frameType">
                            <option value="normal">水晶框 <span class="hint-text">- 高级塑料 无LED发光板 普遍使用型</span></option>
                            <option value="LED">LED 水晶框 <span class="hint-text">- 艺术级薄型浮出灯箱 高级塑料结合高质感LED发光板 最适合商业使用</span>
                            </option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="service == 'picturePrinting'">
                        <label for="frameType" class="col-sm-2 col-form-label">图纸</label>
                        <select class="col-10" id="picturePrintingType" v-model="picturePrintingType">
                            <option value="PP" v-if="frameType == 'normal'">水性墨PP相纸 雾膜</option>
                            <option value="SNOW" v-if="frameType == 'normal'">高阶雪面铜版纸</option>
                            <option value="LIGHT" v-if="frameType == 'LED'">乳胶雾灯片 雾膜</option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="service != 'accessory'">
                        <label for="fastImgSize" class="col-sm-2 col-form-label">快速图片规格</label>
                        <select class="col-10_product" id="fastImgSize" v-model="fastImgSize">
                            <option value="A1">A1 - 594X841 mm</option>
                            <option value="A2">A2 - 420X594 mm</option>
                            <option value="A3">A3 - 297X420 mm</option>
                            <option value="A4">A4 - 210X297 mm</option>
                            <option value="5x7">5X7 inch</option>
                            <option value="7x9">7X9 inch</option>
                            <option value="8x8">8X8 inch</option>
                            <option value="8x10">8X10 inch</option>
                            <option value="8x12">8X12 inch</option>
                            <option value="8.5x11">8.5X11 inch</option>
                            <option value="8.5x14">8.5X14 inch</option>
                            <option value="10x12">10X12 inch</option>
                            <option value="11x14">11X14 inch</option>
                            <option value="11x17">11X17 inch</option>
                            <option value="12x12">12X12 inch</option>
                            <option value="12x15">12X15 inch</option>
                            <option value="12x18">12X18 inch</option>
                            <option value="16x20">16X20 inch</option>
                            <option value="18x24">18X24 inch</option>
                            <option value="20x24">20X24 inch</option>
                            <option value="20x30">20X30 inch</option>
                            <option value="24x30">24X30 inch</option>
                            <option value="24x36">24X36 inch</option>
                            <option value="27x40">27X40 inch</option>
                            <option value="">其他尺寸</option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="fastImgSize == '' && service != 'accessory'">
                        <label for="FrameSizeUnit" class="col-sm-2 col-form-label">图片规格单位</label>
                        <select class="col-10_product" id="FrameSizeUnit" v-model="FrameSizeUnit">
                            <option value="mm">mm - <small>图片公制测量</small></option>
                            <option value="inch">inch - 图片英制测量</option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="fastImgSize == '' && service != 'accessory'">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">短边(W)</span>
                            </div>
                            <input type="number" class="form-control" id="frameWidth" v-model="frameWidthUser" :max="mmToInch(1000)" :min="mmToInch(200)">
                            <div class="input-group-append">
                                <span class="input-group-text">{{ FrameSizeUnit }}</span>
                            </div>
                        </div>
                        <div class="invalid-feedback d-block" v-if=" frameWidthUser > mmToInch(1000) || frameWidthUser < mmToInch(200)">
                            <p class="lead text-center">超出允许范围</p>
                        </div>
                    </div>
                    <div class="form-group row" v-if="fastImgSize == '' && service != 'accessory'">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">长边(L)</span>
                            </div>
                            <input type="number" class="form-control" id="frameHeight" v-model="frameHeightUser" :max="mmToInch(2400)" :min="mmToInch(200)">
                            <div class="input-group-append">
                                <span class="input-group-text">{{ FrameSizeUnit }}</span>
                            </div>
                        </div>
                        <div class="invalid-feedback d-block" v-if=" frameHeightUser > mmToInch(2400) || frameHeightUser < mmToInch(200)">
                            <p class="lead text-center">超出允许范围</p>
                        </div>
                    </div>
                    <div class="form-group row" v-if="service == 'crystalframe' && frameType == 'LED'">
                        <label for="frameDots" class="col-sm-2 col-form-label">是否使用吊线(框边设圆孔)</label>
                        <select class="col-10" id="frameDots" v-model="frameDots">
                            <option value="VH">使用吊线(框边设圆孔)</option>
                            <option value="V">不使用吊线(框边不设圆孔)</option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="service != 'accessory'">
                        <label for="frameAmount" class="col-sm-2 col-form-label">购买数量</label>

                        <div class="input-group col-10">
                            <input type="number" class="form-control col-12" id="frameAmount" value="1"
                                   v-model="frameAmount">
                            <div class="input-group-append">
                                <span class="input-group-text">组</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" v-if="service != 'accessory'">
                        <label for="currency" class="col-sm-2 col-form-label">币别</label>
                        <select class="col-10" id="currency" v-model="currency">
                            <option value="NTD">NTD</option>
                            <option value="CNY">CNY</option>
                            <option value="USD">USD</option>
                            <option value="JPY">JPY</option>
                            <option value="EUR">EUR</option>
                        </select>
                    </div>
                </form>

                <table class="table mt-5" v-if="service != 'accessory'">
                    <tr>
                        <td>商品名称</td>
                        <td>
                            {{frameModelName}}
                        </td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>商品副名</td>
                        <td>
                            {{frameModelNameSub}}
                        </td>
                    </tr>
                </table>

                <table class="table mt-5" v-if="service != 'accessory'">
                    <!--                    <tr>-->
                    <!--                        <td>生产类型</td>-->
                    <!--                        <td>-->
                    <!--                            <span v-if="frameProductType == 'R'">常货型(R) - 常用出货型 有库存 可短期内出货</span>-->
                    <!--                            <span v-if="frameProductType == 'C'">客制型(C) - 无库存 乃根据您的图片规格需求之特制水晶框</span>-->
                    <!--                        </td>-->
                    <!--                    </tr>-->
                    <tr>
                        <td>水晶框种类</td>
                        <td>
                            <span v-if="frameType == 'normal'">水晶框 - 高级塑料 无LED发光板 普遍使用型</span>
                            <span v-if="frameType == 'LED'">水晶框 LED - 艺术级薄型浮出灯箱 高级塑料结合高质感LED发光板 最适合商业使用</span>
                        </td>
                    </tr>
                    <tr>
                        <td>图片材质</td>
                        <td>
                            <span v-if="frameType == 'normal'">图纸 - 建议使用雾面图纸(本公司有提供) 勿使用亮面图纸以避免湿气相粘现象,最后效果仍以实际材料为主</span>
                            <span v-if="frameType == 'LED'">灯片 - 灯片为透明材质(本公司有提供) 使用较浓郁印刷以利透光后使得预计色彩一致</span>
                        </td>
                    </tr>
                    <tr>
                        <td>快速图片规格</td>
                        <td>
                            {{fastImgSize}}
                        </td>
                    </tr>
                    <tr>
                        <td>图片规格单位</td>
                        <td>
                            {{FrameSizeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <td>图片规格设定 </td>
                        <td>
                            {{ frameWidthUser + " X " + frameHeightUser}}
                        </td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>是否框体侧面打圆孔</td>
                        <td>
                            <span v-if="frameDots == 'VH'">有</span>
                            <span v-if="frameDots == 'V'">没有</span>
                        </td>
                    </tr>
                    <tr>
                        <td>购买数量</td>
                        <td>
                            {{ frameAmount }}
                        </td>
                    </tr>
                    <tr>
                        <td>单价</td>
                        <td>每{{ service=='picturePrinting'?'张':'组' }} {{ unitPrice() }} {{ currency }}</td>
                    </tr>
                    <tr v-if="service == 'picturePrinting'">
                        <td>裁切</td>
                        <td>{{ currencyTo(200) }} {{ currency }}</td>
                    </tr>
                    <tr>
                        <td>总价</td>
                        <td>总共 {{ totalPrice() }} {{ currency }}</td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>框体的规格</td>
                        <td>{{ frameSpec() }}</td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>框体净重N.W.</td>
                        <td>{{unitWeight()}} KG</td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>毛重G.W.</td>
                        <td>{{grossWeight()}} KG</td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>内箱 纸箱尺寸</td>
                        <td> {{ innerBoxWeight() }} (纸箱尺寸仅供参考 仍以实物为主)</td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>外箱 纸箱尺寸</td>
                        <td> {{ outterBoxWeight() }} (纸箱尺寸仅供参考 仍以实物为主)</td>
                    </tr>
                    <tr>
                        <td>生产周期</td>
                        <td> {{producingPreoid()}} 个工作天</td>
                    </tr>
                    <tr>
                        <td>出货周期</td>
                        <td> {{transportTime()}} 个工作天</td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td> {{ annotation() }}</td>
                    </tr>
                </table>
                <br>
                <br>
                <h6 v-if="service != 'accessory'">示意图</h6>
                <div class="card-deck" v-if="frameWidthUser == frameHeightUser && service != 'accessory'">
                    <div class="card mt-5" style="border: none">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/a_1.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ 'W' +  frameWidthUser + " * " + "L" + frameHeightUser + " " + FrameSizeUnit}}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/a_2.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ innerBoxWeight() }}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/a_3.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ outterBoxWeight() }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-deck" v-if=" 1 > parseFloat(frameWidthUser/frameHeightUser) && parseFloat(frameWidthUser/frameHeightUser) >= 0.5 && service != 'accessory'">
                    <div class="card mt-5" style="border: none">
                        <div>
                            <img class="mx-auto d-block" src="img/product/b_1.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ 'W' +  frameWidthUser + " * " + "L" + frameHeightUser + " " + FrameSizeUnit}}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/b_2.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ innerBoxWeight() }}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/b_3.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ outterBoxWeight() }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-deck" v-if=" 0.5 > parseFloat(frameWidthUser/frameHeightUser) && parseFloat(frameWidthUser/frameHeightUser) >= 0.25 && service != 'accessory'">
                    <div class="card mt-5" style="border: none">
                        <div>
                            <img class="mx-auto d-block" src="img/product/c_1.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ 'W' +  frameWidthUser + " * " + "L" + frameHeightUser + " " + FrameSizeUnit}}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="mx-auto d-block" src="img/product/c_2.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ innerBoxWeight() }}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/c_3.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ outterBoxWeight() }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-deck" v-if=" 0.25 > parseFloat(frameWidthUser/frameHeightUser) && service != 'accessory'">
                    <div class="card mt-5" style="border: none">
                        <div>
                            <img class="mx-auto d-block" src="img/product/d_1.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ 'W' +  frameWidthUser + " * " + "L" + frameHeightUser + " " + FrameSizeUnit}}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div style="max-height: 400px">
                            <img class="mx-auto d-block" src="img/product/d_2.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ innerBoxWeight() }}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="mx-auto d-block" src="img/product/d_3.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ outterBoxWeight() }}</h5>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="text-center" v-if="service != 'accessory'">
                    <a class="btn btn-primary btn-block" target="_blank" :href="mailToProducer()" >询问 & 订购</a>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </section>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-5 bg-light">
        <br>
        <div class="footer-copyright text-center">© 2019 crystalframe</div>
        <br>
        <div class="footer-copyright text-center">CRYSTALFRAME CO., LTD.</div>
        <br>
        <div class="text-center">
                <li class="navbar-brand">
                    <a target="_blank" href="https://www.facebook.com/crystalframeyuweihsu/"><img class="fotter_icon" src="img/nav_icon/nav_FB_icon.png"></a>
                </li>
                <li class="navbar-brand">
                    <a target="_blank" href="https://line.me/R/ti/p/5RSc-xDAjr"><img class="fotter_icon" src="img/nav_icon/nav_line_icon.png"></a>
                </li>
                <li class="navbar-brand">
                    <a target="_blank" href="https://www.youtube.com/playlist?list=PLrRiQ3x2myYa4n6uiQhcri1_R5H2XvMjg">
                    <img class="fotter_icon" src="img/nav_icon/nav_youtube_icon.png"></a>
                </li>
            </div>
        <br>
        <br>
</footer>
<!-- Footer -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="script/page.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="script/UP.js"></script>

<script>
    var price = new Vue({
        el: '#price',
        data: {
            frameProductType: 'R',
            frameType: 'normal',
            imageProp: 'paper',
            fastImgSize: 'A1',
            FrameSizeUnit: 'mm',
            frameWidth: 594,
            frameHeight: 841,
            frameWidthUser: 594,
            frameHeightUser: 841,
            frameDots: 'VH',
            frameAmount: 1,
            picturePrintingType: 'PP',
            service: 'crystalframe',
            currency: 'NTD',
        },
        computed: {
            frameModelName: function () {
                out = ""

                if (this.fastImgSize.includes("A")) {
                    out = out + this.fastImgSize + " "
                }

                if (this.service == 'picturePrinting') {
                    out = out + this.picturePrintingType + " "
                }

                if (this.frameType == 'LED') {
                    out = out + this.frameType + " "
                }

                // out = out + this.frameProductType + " "

                if (this.service == 'crystalframe') {
                    out = out + "crystalframe "
                }

                if (this.service == 'picturePrinting') {
                    out = out + "print "
                }

                if (this.FrameSizeUnit == 'mm') {
                    out = out + this.frameWidthUser + " X " + this.frameHeightUser + ' '
                    out = out + "mm (" + this.mmToInchForce(this.frameWidthUser) + " X " + this.mmToInchForce(this.frameHeightUser) + ' inch) '
                } else {
                    out = out + (this.frameWidthUser) + " X " + (this.frameHeightUser) + ' '
                    out = out + "inch (" + this.frameWidth + " X " + this.frameHeight + ' mm) '
                }

                if (this.service == 'crystalframe') {
                    out = out + this.frameDots;
                }

                return out
            },
            frameModelNameSub: function () {

                if (this.frameType == 'normal') {
                    out = "(1F1T)"
                } else {
                    out = "(1F1L)"
                }

                // out += this.frameProductType

                out += this.frameWidth + "X" + this.frameHeight

                if (this.frameType == 'normal') {
                    out += "A33H23"
                } else {
                    out += "A90H30"
                }

                out += "R03" + this.frameDots

                return out
            },
            frameThinkness: function () {

                if (this.frameType == 'normal') {
                    return 29
                }

                return 36

            }

        },
        watch: {
            fastImgSize: function (val) {
                if (val == 'A1') {
                    this.FrameSizeUnit = 'mm'
                    this.frameWidthUser = this.mmToInch(594)
                    this.frameHeightUser = this.mmToInch(841)
                    return val
                }

                if (val == 'A2') {
                    this.FrameSizeUnit = 'mm'
                    this.frameWidthUser = this.mmToInch(420)
                    this.frameHeightUser = this.mmToInch(594)
                    return val
                }

                if (val == 'A3') {
                    this.FrameSizeUnit = 'mm'
                    this.frameWidthUser = this.mmToInch(297)
                    this.frameHeightUser = this.mmToInch(420)

                    return val
                }

                if (val == 'A4') {
                    this.FrameSizeUnit = 'mm'
                    this.frameWidthUser = this.mmToInch(210)
                    this.frameHeightUser = this.mmToInch(297)

                    return val
                }

                if (val == "5x7") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 5
                    this.frameHeightUser = 7

                    return val
                }

                if (val == "7x9") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 7
                    this.frameHeightUser = 9

                    return val
                }

                if (val == "8x8") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 8
                    this.frameHeightUser = 8

                    return val
                }

                if (val == "8x10") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 8
                    this.frameHeightUser = 10

                    return val
                }

                if (val == "8x12") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 8
                    this.frameHeightUser = 12

                    return val
                }

                if (val == "8.5x11") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 8.5
                    this.frameHeightUser = 11

                    return val
                }

                if (val == "8.5x14") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 8.5
                    this.frameHeightUser = 14

                    return val
                }

                if (val == "10x12") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 10
                    this.frameHeightUser = 12

                    return val
                }

                if (val == "11x14") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 11
                    this.frameHeightUser = 14

                    return val
                }

                if (val == "11x17") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 11
                    this.frameHeightUser = 17

                    return val
                }

                if (val == "12x12") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 12
                    this.frameHeightUser = 12

                    return val
                }

                if (val == "12x15") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 12
                    this.frameHeightUser = 15

                    return val
                }

                if (val == "12x18") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 12
                    this.frameHeightUser = 18

                    return val
                }

                if (val == "16x20") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 16
                    this.frameHeightUser = 20

                    return val
                }

                if (val == "18x24") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 18
                    this.frameHeightUser = 24

                    return val
                }

                if (val == "20x24") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 20
                    this.frameHeightUser = 24

                    return val
                }

                if (val == "20x30") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 20
                    this.frameHeightUser = 30

                    return val
                }

                if (val == "24x36") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 24
                    this.frameHeightUser = 36

                    return val
                }

                if (val == "27x40") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 27
                    this.frameHeightUser = 40

                    return val
                }

                if (val == "") {
                    this.FrameSizeUnit = 'mm'
                    this.frameWidthUser = 200
                    this.frameHeightUser = 200

                    return val
                }

            },
            frameWidthUser: function (val) {
                if (this.FrameSizeUnit == 'inch') {
                    this.frameWidth = Math.round(val * 25.4)
                } else {
                    this.frameWidth = val
                }

            },
            frameHeightUser: function (val) {
                if (this.FrameSizeUnit == 'inch') {
                    this.frameHeight = Math.round(val * 25.4)
                } else {
                    this.frameHeight = val
                }

            },
            FrameSizeUnit: function (val) {
                if (val == 'R') {
                    this.fastImgSize = 'A2'
                    this.fastImgSize = 'A1'
                }
            },
            frameProductType: function (val) {
                if (val == 'R') {
                    this.fastImgSize = 'A1'
                } else {
                    this.fastImgSize = ''
                }
            },
            frameType: function (val) {
                if (val == 'normal') {
                    this.picturePrintingType = 'PP'
                    this.frameDots = 'VH'
                } else {
                    this.picturePrintingType = 'LIGHT'
                    this.frameDots = 'V'
                }
            },
        },
        methods: {
            unitPrice: function () {

                if (this.service == 'crystalframe') {

                    discount = 1
                    if (this.frameAmount >= 1000) {
                        discount = 0.6
                    }

                    if (this.frameAmount >= 500) {
                        discount = 0.7
                    }

                    if (this.frameAmount >= 100) {
                        discount = 0.8
                    }

                    if (this.frameAmount >= 50) {
                        discount = 0.9
                    }

                    times = 1
                    if (this.frameType == 'LED') {
                        times = 2
                    }

                    subtotal = (this.frameWidth * this.frameHeight / 277 + 200) * 2

                    // square = ((this.frameWidth * this.frameHeight - 499554) / 25236.78261) * 2
                    //
                    // subtotal = (4000 * Math.pow(1.044,square)) * discount

                    return this.currencyTo(Math.round(subtotal / 100) * 100 * times)
                }

                if (this.service == 'picturePrinting') {

                    if (this.picturePrintingType == 'PP') {
                        variance = 25
                    }

                    if (this.picturePrintingType == 'SNOW') {
                        variance = 150
                    }

                    if (this.picturePrintingType == 'LIGHT') {
                        variance = 50
                    }

                    return this.currencyTo(Math.round(this.frameWidth * this.frameHeight / 90000 * variance * 4 / 10) * 10)
                }
            },
            totalPrice: function () {

                extra = 0
                if (this.service == 'picturePrinting') {
                    extra = 200
                }

                return (this.unitPrice() * this.frameAmount) + extra
            },
            producingPreoid: function () {

                if (this.service == 'crystalframe') {
                    if (this.frameType == 'normal') {
                        return 7
                    }

                    return 14
                }

                if (this.service == 'picturePrinting') {
                    return 5
                }

            },
            transportTime: function () {
                if (this.service == 'crystalframe') {
                    if (this.frameType == 'normal') {
                        return 10
                    }

                    return 17
                }

                if (this.service == 'picturePrinting') {
                    return 7
                }

            },
            annotation: function () {
                // if (this.frameProductType == 'C') {
                //     return "多两个透明中板"
                // }

                if (this.service == 'crystalframe') {
                    if (this.frameType == 'normal') {
                        return "水晶框包装: 外纸箱+内纸箱+主框+中板+配件组+广告图+模板图 (以上报价皆为台湾岛内含税价)"
                    }

                    if (this.frameType == 'LED') {
                        return "LED水晶框包装: 外纸箱+内纸箱+主框+导光板+配件组+广告图+模板图 (以上报价皆为台湾岛内含税价)"
                    }
                }

                if (this.service == 'picturePrinting') {
                    return "(以上报价皆为台湾岛内含税价)"
                }

                return ""
            },
            innerBoxWeight: function () {
                if (this.frameType == 'normal') {
                    return "W" + (parseFloat(this.frameWidth) + 30) + " * L" + (parseFloat(this.frameHeight) + 25) + " * H" + (50) + ' mm'
                }

                return "W" + (parseFloat(this.frameWidth) + 30) + " * L" + (parseFloat(this.frameHeight) + 50) + " * H" + (50) + ' mm'

            },
            outterBoxWeight: function () {

                if (this.frameType == 'normal') {
                    return "W"+(parseFloat(this.frameWidth) + 93) + " * L" + (parseFloat(this.frameHeight) + 88) + " * H" + (63) + ' mm'
                }

                return "W"+(parseFloat(this.frameWidth) + 93) + " * L" + (parseFloat(this.frameHeight) + 88) + " * H" + (70) + ' mm'

            },
            unitWeight: function () {

                if (this.frameType == 'normal') {
                    return Math.round(((parseFloat(this.frameWidth) + 200) * this.frameHeight / 100 / 2 / 1000) * 10) / 10
                } else {
                    return Math.round(Math.round(((parseFloat(this.frameWidth) + 200) * this.frameHeight / 100 / 2 / 1000) * 10) / 10 * 2.5 * 10) / 10
                }

            },
            grossWeight: function () {
                if (this.frameType == 'normal') {
                    return Math.round(this.unitWeight() * 2 * 10) / 10
                }

                return Math.round(this.unitWeight() * 3 * 10) / 10
            },
            frameSpec: function () {

                if (this.frameType == 'normal') {
                    return "W" + (parseFloat(this.frameWidth) + 5) + " * L" + (this.frameHeight) + " * H" + (this.frameThinkness) + " " + 'mm'
                }

                return "W" + (parseFloat(this.frameWidth) + 5) + " * L" + (this.frameHeight) + " * H" + (this.frameThinkness) + " " + 'mm'

            },
            mmToInch: function (val) {

                if (this.FrameSizeUnit == 'inch') {
                    return this.mmToInchForce(val)
                }

                return val
            },
            mmToInchForce: function (val) {

                return Math.round(val * 0.039 * 10) / 10

            },
            mailToProducer: function () {
                return "mailto:sales@crystalframe.com?subject=订购&body=Thank you for the request.%0APlease send below information to us, and we will contact you asap and confirm the order details!%0A%0A感谢您的询问 请将以下资讯给我们 我们会尽快向您回复并确认订单!%0A%0A~~~~~~~~~~~~~~~~~~~~~~~~~~%0A%0AModelName 型号:%0A" + this.frameModelName +  "%0A%0AUnit Price 单价:%0A"+this.unitPrice()+" "+this.currency+" %0A%0A裁切:%0A "+ this.currencyTo(200) +" "+this.currency+"%0A%0AQuantity 数量:%0A"+this.frameAmount+" SET 组%0A%0ATotal Price 总价:%0A"+this.totalPrice()+" "+this.currency+" %0A%0A~~~~~~~~~~~~~~~~~~~~~~~~~~%0A%0ABuyer Information 购买者资讯%0A%0AName 姓名:%0ACompany 公司:%0AMobile 手机:%0ATel 电话:%0AEmail 电邮:%0AOther Comment 其他意见:%0A%0A~~~~~~~~~~~~~~~~~~~~~~~~~~%0A%0AYou can contact us thru%0A您可以透过以下联络我们%0A%0AEmail: sales@crystalframe.com.tw%0ALine@: sqr1930c%0AFacebook: @crystalframeyuweihsu%0AFacebook:七色水晶框有限公司%0ASales Mobile: +886 922576813 (Taiwan)"
            },
            currencyTo : function(value) {
                switch (this.currency) {
                    case "NTD":
                        return value
                    case "CNY":
                        return  Math.round(value/4)
                    case "USD":
                        return Math.round(value/30)
                    case "JPY":
                        return Math.round(value/0.25)
                    case "EUR":
                        return Math.round(value/33)
                }
            }

        }
    });
</script>
</body>
</body>
</html>


