<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <title>crystalframe</title>
</head>
<body>
<nav class="UP navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand" href="En_index.html"><img src="logo.png" class="mr-2 logo_rwd"></a>
    <a class="navbar-brand logo_text" href="En_index.html">crystalframe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav En_nav_item">
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="En_index.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false" >
                    3D
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="En_crystalframe.html"><img src="img/silver_logo.png"
                                                                           style="width: 2rem">crystalframe</a>
                    <a class="dropdown-item navdrop_center" href="En_crystalframeLED.html"><img src="img/gold_logo.png"
                                                                              style="width: 2rem">
                                                                              LED crystalframe</a>
                    <a class="dropdown-item navdrop_center" href="En_crystalframeIntro.html">&nbsp;&nbsp;3D&nbsp;INSTRUCTION</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="index.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    DEMO
                </div>
                <div class="dropdown-menu" style="min-width: 250px">
                    <a class="dropdown-item navdrop_center" href="En_crystalframeShowcase.html"><img class="img-fluid"
                                                                                   src="img/silver_logo.png"
                                                                                   style="width: 2rem">crystalframe DEMO</a>
                    <a class="dropdown-item navdrop_center" href="En_crystalframeShowcaseLED.html"><img class="img-fluid"
                                                                                      src="img/gold_logo.png"
                                                                                      style="width: 2rem">LED crystalframe DEMO</a>
                    <a class="dropdown-item navdrop_center" href="En_showcaseVideo.html">&nbsp;&nbsp;OTHER VIDEOS</a>
                    <a class="dropdown-item navdrop_center" href="En_showcasePost.html">&nbsp;&nbsp;OTHER INFORMATION</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="story.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     KNOWHOW
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="En_story.html">INVENTION STORY</a>
                    <a class="dropdown-item navdrop_center" href="En_storyAdvantage.html">APPLICATION</a>
                    <a class="dropdown-item navdrop_center" href="En_storyDifference.html">DIFFERENCE</a>
                    <a class="dropdown-item navdrop_center" href="En_storyCertificate.html">CERTIFICATES</a>
                    <a class="dropdown-item navdrop_center" href="En_storyPatent.html">PATENTS</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="product.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     PURCHASE
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="En_product.html">PRICE</a>
                    <a class="dropdown-item navdrop_center" href="En_productHot.html">HOT SALE</a>
                    <a class="dropdown-item navdrop_center" href="En_productSim.html">SIMULATION</a>
                    <a class="dropdown-item navdrop_center" href="En_productWarranty.html">WARRANTY</a>
                    <a class="dropdown-item navdrop_center" href="En_productIntro.html">PURCHASE&nbsp;INSTRUCTION</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="usageOperation.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     INSTRUCTION                
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="En_usageOperation.html">VIDEOS</a>
                    <a class="dropdown-item navdrop_center" href="En_usageConstruction.html">PARTS DIAGRAM</a>
                    <a class="dropdown-item navdrop_center" href="En_usageNotice.html">ATTENTION</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="pictureExplain.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     PICTURES             
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="En_pictureExplain.html">PICTURES EXPLANATION</a>
                    <a class="dropdown-item navdrop_center" href="En_pictureDownload.html">PICTURES DOWNLOAD</a>
                    <a class="dropdown-item navdrop_center" href="En_photographerMember.html">PHOTOGRAPHER ZONE</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="shopDistribution.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     STORES  
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="En_shopShowcase.html">TAIWAN STORES</a>
                    <a class="dropdown-item navdrop_center" href="En_shopDistribution.html">USA STORES</a>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="contactMainCompany.html" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     CONTACT                    
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="En_contactDistributionTaiwan.html">TAIWAN DISTRIBUTOR</a>
                    <a class="dropdown-item navdrop_center" href="En_contactInternationalPartner.html">JAPAN DISTRIBUTOR</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle text-center" href="#" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     LANGUAGE                 
                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item navdrop_center" href="product.html">TRADITIONAL CHINESE</a>
                    <a class="dropdown-item navdrop_center" href="Ch_product.html">SIMPLIFIED CHINESE</a>
                    <a class="dropdown-item navdrop_center" href="En_product.html">ENGLISH</a>
                    <a class="dropdown-item navdrop_center" href="#">JAPANESE </a>
                </div>
            </li>
            <div class="nav_icon_item en_icon">
                    <li class="navbar-brand">
                        <a target="_blank" href="https://www.facebook.com/crystalframeyuweihsu/"><img class="navbar_Icon" src="img/nav_icon/nav_FB_icon.png"></a>
                    </li>
                    <li class="navbar-brand">
                        <a target="_blank" href="https://line.me/R/ti/p/5RSc-xDAjr"><img class="navbar_Icon" src="img/nav_icon/nav_line_icon.png"></a>
                    </li>
                    <li class="navbar-brand">
                        <a target="_blank" href="https://www.youtube.com/playlist?list=PLrRiQ3x2myYa4n6uiQhcri1_R5H2XvMjg">
                        <img class="navbar_Icon2" src="img/nav_icon/nav_youtube_icon.png"></a>
                    </li>
                </div>
        </ul>
    </div>
</nav>
<div>
    <div class="jumbotron" style="margin-top:126px">
        <h1 class="display-6 text-center">PURCHASE</h1>
        <p class="lead"></p>
    </div>

    <section>
        <div class="container">
            <div id="price" class="mt-5">
                <h2 class="card-title title-underline">PRICE</h2>
                <form>
                    <!--                    <div class="form-group row">-->
                    <!--                        <label for="frameProductType" class="col-sm-2 col-form-label">生產類型</label>-->
                    <!--                        <select class="col-10" id="frameProductType" v-model="frameProductType">-->
                    <!--                            <option value="R">常貨型(R) - 常用出貨型 有庫存 可短期內出貨</option>-->
                    <!--                            <option value="C">客製型(C) - 無庫存 乃根據您的圖片規格需求之特製水晶框</option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->
                    <div class="form-group row">
                        <label for="service" class="col-sm-2 col-form-label">CATEGORY</label>
                        <select class="col-10" id="service" v-model="service">
                            <option value="crystalframe">crystalframe & LED crystalframe</option>
                            <option value="picturePrinting">PRINT<span class="hint-text">- prints are for framing of crystalframe. </span>
                            </option>
                            <option value="accessory">ACCESSORIES</option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="service == 'accessory'">
                        <p class="lead text-center" >SORRY, NOT OPEN YET.</p>
                    </div>
                    <div class="form-group row" v-if="service != 'accessory'">
                        <label for="frameType" class="col-sm-2 col-form-label">TYPE</label>
                        <select class="col-10" id="frameType" v-model="frameType">
                            <option value="normal">crystalframe <span class="hint-text">- high cquality PET panel</span></option>
                            <option value="LED">LED crystalframe <span class="hint-text">- high cquality PET panel with LIGHT GUIDE PANEL</span>
                            </option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="service == 'picturePrinting'">
                        <label for="frameType" class="col-sm-2 col-form-label">PRINT</label>
                        <select class="col-10" id="picturePrintingType" v-model="picturePrintingType">
                            <option value="PP" v-if="frameType == 'normal'">WATER BASED INK PP MATTE</option>
                            <option value="SNOW" v-if="frameType == 'normal'">ADVANCED MATT ART PAPER</option>
                            <option value="LIGHT" v-if="frameType == 'LED'">EMULSION MATTE BACK LIGHT FILM</option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="service != 'accessory'">
                        <label for="fastImgSize" class="col-sm-2 col-form-label">FAST PRINT SIZE</label>
                        <select class="col-10_product" id="fastImgSize" v-model="fastImgSize">
                            <option value="A1">A1 - 594X841 mm</option>
                            <option value="A2">A2 - 420X594 mm</option>
                            <option value="A3">A3 - 297X420 mm</option>
                            <option value="A4">A4 - 210X297 mm</option>
                            <option value="5x7">5X7 inch</option>
                            <option value="7x9">7X9 inch</option>
                            <option value="8x8">8X8 inch</option>
                            <option value="8x10">8X10 inch</option>
                            <option value="8x12">8X12 inch</option>
                            <option value="8.5x11">8.5X11 inch</option>
                            <option value="8.5x14">8.5X14 inch</option>
                            <option value="10x12">10X12 inch</option>
                            <option value="11x14">11X14 inch</option>
                            <option value="11x17">11X17 inch</option>
                            <option value="12x12">12X12 inch</option>
                            <option value="12x15">12X15 inch</option>
                            <option value="12x18">12X18 inch</option>
                            <option value="16x20">16X20 inch</option>
                            <option value="18x24">18X24 inch</option>
                            <option value="20x24">20X24 inch</option>
                            <option value="20x30">20X30 inch</option>
                            <option value="24x30">24X30 inch</option>
                            <option value="24x36">24X36 inch</option>
                            <option value="27x40">27X40 inch</option>
                            <option value="">other size</option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="fastImgSize == '' && service != 'accessory'">
                        <label for="FrameSizeUnit" class="col-sm-2 col-form-label">圖片規格單位</label>
                        <select class="col-10_product" id="FrameSizeUnit" v-model="FrameSizeUnit">
                            <option value="mm">mm - <small>圖片公制測量</small></option>
                            <option value="inch">inch - 圖片英制測量</option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="fastImgSize == '' && service != 'accessory'">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">WIDTH</span>
                            </div>
                            <input type="number" class="form-control" id="frameWidth" v-model="frameWidthUser" :max="mmToInch(1000)" :min="mmToInch(200)">
                            <div class="input-group-append">
                                <span class="input-group-text">{{ FrameSizeUnit }}</span>
                            </div>
                        </div>
                        <div class="invalid-feedback d-block" v-if=" frameWidthUser > mmToInch(1000) || frameWidthUser < mmToInch(200)">
                            <p class="lead text-center">NOT AVAILABLE</p>
                        </div>
                    </div>
                    <div class="form-group row" v-if="fastImgSize == '' && service != 'accessory'">
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text">LENGTH</span>
                            </div>
                            <input type="number" class="form-control" id="frameHeight" v-model="frameHeightUser" :max="mmToInch(2400)" :min="mmToInch(200)">
                            <div class="input-group-append">
                                <span class="input-group-text">{{ FrameSizeUnit }}</span>
                            </div>
                        </div>
                        <div class="invalid-feedback d-block" v-if=" frameHeightUser > mmToInch(2400) || frameHeightUser < mmToInch(200)">
                            <p class="lead text-center">NOT AVAILABLE</p>
                        </div>
                    </div>
                    <div class="form-group row" v-if="service == 'crystalframe' && frameType == 'LED'">
                        <label for="frameDots" class="col-sm-2 col-form-label">NEED TO HANG BY WIRE?</label>
                        <select class="col-10" id="frameDots" v-model="frameDots">
                            <option value="VH">YES, WITH HOLES ON FRAME ONE SIDE</option>
                            <option value="V">NO, NO HOLES ON FRAME SIDE</option>
                        </select>
                    </div>
                    <div class="form-group row" v-if="service != 'accessory'">
                        <label for="frameAmount" class="col-sm-2 col-form-label">QUANTITY</label>

                        <div class="input-group col-10">
                            <input type="number" class="form-control col-12" id="frameAmount" value="1"
                                   v-model="frameAmount">
                            <div class="input-group-append">
                                <span class="input-group-text">SET</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" v-if="service != 'accessory'">
                        <label for="currency" class="col-sm-2 col-form-label">CURRENCY</label>
                        <select class="col-10" id="currency" v-model="currency">
                            <option value="NTD">NTD</option>
                            <option value="CNY">CNY</option>
                            <option value="USD">USD</option>
                            <option value="JPY">JPY</option>
                            <option value="EUR">EUR</option>
                        </select>
                    </div>
                </form>

                <table class="table mt-5" v-if="service != 'accessory'">
                    <tr>
                        <td>ITEM NAME</td>
                        <td>
                            {{frameModelName}}
                        </td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>ADDITIONAL NAME</td>
                        <td>
                            {{frameModelNameSub}}
                        </td>
                    </tr>
                </table>

                <table class="table mt-5" v-if="service != 'accessory'">
                    <!--                    <tr>-->
                    <!--                        <td>生產類型</td>-->
                    <!--                        <td>-->
                    <!--                            <span v-if="frameProductType == 'R'">常貨型(R) - 常用出貨型 有庫存 可短期內出貨</span>-->
                    <!--                            <span v-if="frameProductType == 'C'">客製型(C) - 無庫存 乃根據您的圖片規格需求之特製水晶框</span>-->
                    <!--                        </td>-->
                    <!--                    </tr>-->
                    <tr>
                        <td>TYPE</td>
                        <td>
                            <span v-if="frameType == 'normal'">crystalframe - high cquality PET panel</span>
                            <span v-if="frameType == 'LED'">LED crystalframe - high cquality PET panel with LIGHT GUIDE PANEL</span>
                        </td>
                    </tr>
                    <tr>
                        <td>PRINT MATERIAL</td>
                        <td>
                            <span v-if="frameType == 'normal'">PRINT-Matte is recommended for crystalframe. Gossy print may cause the effect of stickiness.</span>
                            <span v-if="frameType == 'LED'">BACK LIGHT FILM – transparent film (from our company), with deeper color to meet the same picture quality.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>FAST PRINT SIZE</td>
                        <td>
                            {{fastImgSize}}
                        </td>
                    </tr>
                    <tr>
                        <td>PRINT UNIT</td>
                        <td>
                            {{FrameSizeUnit}}
                        </td>
                    </tr>
                    <tr>
                        <td>PRINT SIZE </td>
                        <td>
                            {{ frameWidthUser + " X " + frameHeightUser}}
                        </td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>HOLES ON ONE SIDE</td>
                        <td>
                            <span v-if="frameDots == 'VH'">Have</span>
                            <span v-if="frameDots == 'V'">None</span>
                        </td>
                    </tr>
                    <tr>
                        <td>QUANTITY</td>
                        <td>
                            {{ frameAmount }}
                        </td>
                    </tr>
                    <tr>
                        <td>UNIT PRICE</td>
                        <td>Per{{ service=='picturePrinting'?'PC':'SET' }} {{ unitPrice() }} {{ currency }}</td>
                    </tr>
                    <tr v-if="service == 'picturePrinting'">
                        <td>PRINT CUT</td>
                        <td>{{ currencyTo(200) }} {{ currency }}</td>
                    </tr>
                    <tr>
                        <td>TOTAL PRICE</td>
                        <td>TOTAL {{ totalPrice() }} {{ currency }}</td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>FRAME DIMENTION</td>
                        <td>{{ frameSpec() }}</td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>NET WEIGHT</td>
                        <td>{{unitWeight()}} KG</td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>GROSS WEIGHT</td>
                        <td>{{grossWeight()}} KG</td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>INNER CARTON SIZE</td>
                        <td> {{ innerBoxWeight() }} (This information is only for reference.)</td>
                    </tr>
                    <tr v-if="service == 'crystalframe'">
                        <td>OUTER CARTON SIZE</td>
                        <td> {{ outterBoxWeight() }} (This information is only for reference.)</td>
                    </tr>
                    <tr>
                        <td>PRODUCTION CYCLE</td>
                        <td> {{producingPreoid()}} working days</td>
                    </tr>
                    <tr>
                        <td>SHIPPING CYCLE</td>
                        <td> {{transportTime()}} working days</td>
                    </tr>
                    <tr>
                        <td>MEMO</td>
                        <td> {{ annotation() }}</td>
                    </tr>
                </table>
                <br>
                <br>
                <h6 v-if="service != 'accessory'">DEMO CHART</h6>
                <div class="card-deck" v-if="frameWidthUser == frameHeightUser && service != 'accessory'">
                    <div class="card mt-5" style="border: none">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/a_1.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ 'W' +  frameWidthUser + " * " + "L" + frameHeightUser + " " + FrameSizeUnit}}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/a_2.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ innerBoxWeight() }}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/a_3.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ outterBoxWeight() }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-deck" v-if=" 1 > parseFloat(frameWidthUser/frameHeightUser) && parseFloat(frameWidthUser/frameHeightUser) >= 0.5 && service != 'accessory'">
                    <div class="card mt-5" style="border: none">
                        <div>
                            <img class="mx-auto d-block" src="img/product/b_1.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ 'W' +  frameWidthUser + " * " + "L" + frameHeightUser + " " + FrameSizeUnit}}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/b_2.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ innerBoxWeight() }}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/b_3.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ outterBoxWeight() }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-deck" v-if=" 0.5 > parseFloat(frameWidthUser/frameHeightUser) && parseFloat(frameWidthUser/frameHeightUser) >= 0.25 && service != 'accessory'">
                    <div class="card mt-5" style="border: none">
                        <div>
                            <img class="mx-auto d-block" src="img/product/c_1.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ 'W' +  frameWidthUser + " * " + "L" + frameHeightUser + " " + FrameSizeUnit}}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="mx-auto d-block" src="img/product/c_2.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ innerBoxWeight() }}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="w-50 mx-auto d-block" src="img/product/c_3.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ outterBoxWeight() }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-deck" v-if=" 0.25 > parseFloat(frameWidthUser/frameHeightUser) && service != 'accessory'">
                    <div class="card mt-5" style="border: none">
                        <div>
                            <img class="mx-auto d-block" src="img/product/d_1.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ 'W' +  frameWidthUser + " * " + "L" + frameHeightUser + " " + FrameSizeUnit}}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div style="max-height: 400px">
                            <img class="mx-auto d-block" src="img/product/d_2.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ innerBoxWeight() }}</h5>
                        </div>
                    </div>
                    <div class="card mt-5" style="border: none" v-if="service != 'picturePrinting'">
                        <div>
                            <img class="mx-auto d-block" src="img/product/d_3.png" style="height: 400px">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ outterBoxWeight() }}</h5>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="text-center" v-if="service != 'accessory'">
                    <a class="btn btn-primary btn-block" target="_blank" :href="mailToProducer()" >INQUIRY ORDER</a>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </section>
</div>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-5 bg-light">
        <br>
        <div class="footer-copyright text-center">© 2019 crystalframe</div>
        <br>
        <div class="footer-copyright text-center">CRYSTALFRAME CO., LTD.</div>
        <br>
        <div class="text-center">
                <li class="navbar-brand">
                    <a target="_blank" href="https://www.facebook.com/crystalframeyuweihsu/"><img class="fotter_icon" src="img/nav_icon/nav_FB_icon.png"></a>
                </li>
                <li class="navbar-brand">
                    <a target="_blank" href="https://line.me/R/ti/p/5RSc-xDAjr"><img class="fotter_icon" src="img/nav_icon/nav_line_icon.png"></a>
                </li>
                <li class="navbar-brand">
                    <a target="_blank" href="https://www.youtube.com/playlist?list=PLrRiQ3x2myYa4n6uiQhcri1_R5H2XvMjg">
                    <img class="fotter_icon" src="img/nav_icon/nav_youtube_icon.png"></a>
                </li>
            </div>
        <br>
        <br>
</footer>
<!-- Footer -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="script/page.js"></script>
<script src="script/UP.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script>
    var price = new Vue({
        el: '#price',
        data: {
            frameProductType: 'R',
            frameType: 'normal',
            imageProp: 'paper',
            fastImgSize: 'A1',
            FrameSizeUnit: 'mm',
            frameWidth: 594,
            frameHeight: 841,
            frameWidthUser: 594,
            frameHeightUser: 841,
            frameDots: 'VH',
            frameAmount: 1,
            picturePrintingType: 'PP',
            service: 'crystalframe',
            currency: 'NTD',
        },
        computed: {
            frameModelName: function () {
                out = ""

                if (this.fastImgSize.includes("A")) {
                    out = out + this.fastImgSize + " "
                }

                if (this.service == 'picturePrinting') {
                    out = out + this.picturePrintingType + " "
                }

                if (this.frameType == 'LED') {
                    out = out + this.frameType + " "
                }

                // out = out + this.frameProductType + " "

                if (this.service == 'crystalframe') {
                    out = out + "crystalframe "
                }

                if (this.service == 'picturePrinting') {
                    out = out + "print "
                }

                if (this.FrameSizeUnit == 'mm') {
                    out = out + this.frameWidthUser + " X " + this.frameHeightUser + ' '
                    out = out + "mm (" + this.mmToInchForce(this.frameWidthUser) + " X " + this.mmToInchForce(this.frameHeightUser) + ' inch) '
                } else {
                    out = out + (this.frameWidthUser) + " X " + (this.frameHeightUser) + ' '
                    out = out + "inch (" + this.frameWidth + " X " + this.frameHeight + ' mm) '
                }

                if (this.service == 'crystalframe') {
                    out = out + this.frameDots;
                }

                return out
            },
            frameModelNameSub: function () {


                if (this.frameType == 'normal') {
                    out = "(1F1T)"
                } else {
                    out = "(1F1L)"
                }

                // out += this.frameProductType

                out += this.frameWidth + "X" + this.frameHeight


                if (this.frameType == 'normal') {
                    out += "A33H23"
                } else {
                    out += "A90H30"
                }

                out += "R03" + this.frameDots

                return out
            },
            frameThinkness: function () {

                if (this.frameType == 'normal') {
                    return 29
                }

                return 36

            }

        },
        watch: {
            fastImgSize: function (val) {
                if (val == 'A1') {
                    this.FrameSizeUnit = 'mm'
                    this.frameWidthUser = this.mmToInch(594)
                    this.frameHeightUser = this.mmToInch(841)
                    return val
                }

                if (val == 'A2') {
                    this.FrameSizeUnit = 'mm'
                    this.frameWidthUser = this.mmToInch(420)
                    this.frameHeightUser = this.mmToInch(594)
                    return val
                }

                if (val == 'A3') {
                    this.FrameSizeUnit = 'mm'
                    this.frameWidthUser = this.mmToInch(297)
                    this.frameHeightUser = this.mmToInch(420)

                    return val
                }

                if (val == 'A4') {
                    this.FrameSizeUnit = 'mm'
                    this.frameWidthUser = this.mmToInch(210)
                    this.frameHeightUser = this.mmToInch(297)

                    return val
                }

                if (val == "5x7") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 5
                    this.frameHeightUser = 7

                    return val
                }

                if (val == "7x9") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 7
                    this.frameHeightUser = 9

                    return val
                }

                if (val == "8x8") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 8
                    this.frameHeightUser = 8

                    return val
                }

                if (val == "8x10") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 8
                    this.frameHeightUser = 10

                    return val
                }

                if (val == "8x12") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 8
                    this.frameHeightUser = 12

                    return val
                }

                if (val == "8.5x11") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 8.5
                    this.frameHeightUser = 11

                    return val
                }

                if (val == "8.5x14") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 8.5
                    this.frameHeightUser = 14

                    return val
                }

                if (val == "10x12") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 10
                    this.frameHeightUser = 12

                    return val
                }

                if (val == "11x14") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 11
                    this.frameHeightUser = 14

                    return val
                }

                if (val == "11x17") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 11
                    this.frameHeightUser = 17

                    return val
                }

                if (val == "12x12") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 12
                    this.frameHeightUser = 12

                    return val
                }

                if (val == "12x15") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 12
                    this.frameHeightUser = 15

                    return val
                }

                if (val == "12x18") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 12
                    this.frameHeightUser = 18

                    return val
                }

                if (val == "16x20") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 16
                    this.frameHeightUser = 20

                    return val
                }

                if (val == "18x24") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 18
                    this.frameHeightUser = 24

                    return val
                }

                if (val == "20x24") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 20
                    this.frameHeightUser = 24

                    return val
                }

                if (val == "20x30") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 20
                    this.frameHeightUser = 30

                    return val
                }

                if (val == "24x36") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 24
                    this.frameHeightUser = 36

                    return val
                }

                if (val == "27x40") {
                    this.FrameSizeUnit = 'inch'
                    this.frameWidthUser = 27
                    this.frameHeightUser = 40

                    return val
                }

                if (val == "") {
                    this.FrameSizeUnit = 'mm'
                    this.frameWidthUser = 200
                    this.frameHeightUser = 200

                    return val
                }

            },
            frameWidthUser: function (val) {
                if (this.FrameSizeUnit == 'inch') {
                    this.frameWidth = Math.round(val * 25.4)
                } else {
                    this.frameWidth = val
                }

            },
            frameHeightUser: function (val) {
                if (this.FrameSizeUnit == 'inch') {
                    this.frameHeight = Math.round(val * 25.4)
                } else {
                    this.frameHeight = val
                }

            },
            FrameSizeUnit: function (val) {
                if (val == 'R') {
                    this.fastImgSize = 'A2'
                    this.fastImgSize = 'A1'
                }
            },
            frameProductType: function (val) {
                if (val == 'R') {
                    this.fastImgSize = 'A1'
                } else {
                    this.fastImgSize = ''
                }
            },
            frameType: function (val) {
                if (val == 'normal') {
                    this.picturePrintingType = 'PP'
                    this.frameDots = 'VH'
                } else {
                    this.picturePrintingType = 'LIGHT'
                    this.frameDots = 'V'
                }
            },
        },
        methods: {
            unitPrice: function () {

                if (this.service == 'crystalframe') {

                    discount = 1
                    if (this.frameAmount >= 1000) {
                        discount = 0.6
                    }

                    if (this.frameAmount >= 500) {
                        discount = 0.7
                    }

                    if (this.frameAmount >= 100) {
                        discount = 0.8
                    }

                    if (this.frameAmount >= 50) {
                        discount = 0.9
                    }

                    times = 1
                    if (this.frameType == 'LED') {
                        times = 2
                    }

                    subtotal = (this.frameWidth * this.frameHeight / 277 + 200) * 2

                    // square = ((this.frameWidth * this.frameHeight - 499554) / 25236.78261) * 2
                    //
                    // subtotal = (4000 * Math.pow(1.044,square)) * discount

                    return this.currencyTo(Math.round(subtotal / 100) * 100 * times)
                }

                if (this.service == 'picturePrinting') {

                    if (this.picturePrintingType == 'PP') {
                        variance = 25
                    }

                    if (this.picturePrintingType == 'SNOW') {
                        variance = 150
                    }

                    if (this.picturePrintingType == 'LIGHT') {
                        variance = 50
                    }

                    return this.currencyTo(Math.round(this.frameWidth * this.frameHeight / 90000 * variance * 4 / 10) * 10)
                }
            },
            totalPrice: function () {

                extra = 0
                if (this.service == 'picturePrinting') {
                    extra = 200
                }

                return (this.unitPrice() * this.frameAmount) + extra
            },
            producingPreoid: function () {

                if (this.service == 'crystalframe') {
                    if (this.frameType == 'normal') {
                        return 7
                    }

                    return 14
                }


                if (this.service == 'picturePrinting') {
                    return 5
                }


            },
            transportTime: function () {
                if (this.service == 'crystalframe') {
                    if (this.frameType == 'normal') {
                        return 10
                    }

                    return 17
                }

                if (this.service == 'picturePrinting') {
                    return 7
                }

            },
            annotation: function () {
                // if (this.frameProductType == 'C') {
                //     return "多兩個透明中板"
                // }

                if (this.service == 'crystalframe') {
                    if (this.frameType == 'normal') {
                        return "crystalframe PACKAGE: OUTER BOX+INNER BOX+MAIN FRAME+MID PANEL+ACCESSORIES+AD PICTURE+TEMPLATE(ABOVE QUOTATION ALL BASED IN TAIWAN ISLAND)"
                    }

                    if (this.frameType == 'LED') {
                        return "LED crystalframe PACKAGE: OUTER BOX+INNER BOX+MAIN FRAME+LIGHT GUIDE PANEL+ACCESSORIES+AD PICTURE+TEMPLATE(ABOVE QUOTATION ALL BASED IN TAIWAN ISLAND)"
                    }
                }

                if (this.service == 'picturePrinting') {
                    return "(ABOVE QUOTATION ALL BASED IN TAIWAN ISLAND)"
                }

                return ""
            },
            innerBoxWeight: function () {
                if (this.frameType == 'normal') {
                    return "W" + (parseFloat(this.frameWidth) + 30) + " * L" + (parseFloat(this.frameHeight) + 25) + " * H" + (50) + ' mm'
                }

                return "W" + (parseFloat(this.frameWidth) + 30) + " * L" + (parseFloat(this.frameHeight) + 50) + " * H" + (50) + ' mm'

            },
            outterBoxWeight: function () {

                if (this.frameType == 'normal') {
                    return "W"+(parseFloat(this.frameWidth) + 93) + " * L" + (parseFloat(this.frameHeight) + 88) + " * H" + (63) + ' mm'
                }

                return "W"+(parseFloat(this.frameWidth) + 93) + " * L" + (parseFloat(this.frameHeight) + 88) + " * H" + (70) + ' mm'

            },
            unitWeight: function () {

                if (this.frameType == 'normal') {
                    return Math.round(((parseFloat(this.frameWidth) + 200) * this.frameHeight / 100 / 2 / 1000) * 10) / 10
                } else {
                    return Math.round(Math.round(((parseFloat(this.frameWidth) + 200) * this.frameHeight / 100 / 2 / 1000) * 10) / 10 * 2.5 * 10) / 10
                }

            },
            grossWeight: function () {
                if (this.frameType == 'normal') {
                    return Math.round(this.unitWeight() * 2 * 10) / 10
                }

                return Math.round(this.unitWeight() * 3 * 10) / 10
            },
            frameSpec: function () {


                if (this.frameType == 'normal') {
                    return "W" + (parseFloat(this.frameWidth) + 5) + " * L" + (this.frameHeight) + " * H" + (this.frameThinkness) + " " + 'mm'
                }

                return "W" + (parseFloat(this.frameWidth) + 5) + " * L" + (this.frameHeight) + " * H" + (this.frameThinkness) + " " + 'mm'

            },
            mmToInch: function (val) {

                if (this.FrameSizeUnit == 'inch') {
                    return this.mmToInchForce(val)
                }

                return val
            },
            mmToInchForce: function (val) {

                return Math.round(val * 0.039 * 10) / 10

            },
            mailToProducer: function () {
                return "mailto:sales@crystalframe.com?subject=訂購&body=Thank you for the request.%0APlease send below information to us, and we will contact you asap and confirm the order details!%0A%0A感謝您的詢問 請將以下資訊給我們 我們會盡快向您回覆並確認訂單!%0A%0A~~~~~~~~~~~~~~~~~~~~~~~~~~%0A%0AModelName 型號:%0A" + this.frameModelName +  "%0A%0AUnit Price 單價:%0A"+this.unitPrice()+" "+this.currency+" %0A%0A裁切:%0A "+ this.currencyTo(200) +" "+this.currency+"%0A%0AQuantity 數量:%0A"+this.frameAmount+" SET 組%0A%0ATotal Price 總價:%0A"+this.totalPrice()+" "+this.currency+" %0A%0A~~~~~~~~~~~~~~~~~~~~~~~~~~%0A%0ABuyer Information 購買者資訊%0A%0AName 姓名:%0ACompany 公司:%0AMobile 手機:%0ATel 電話:%0AEmail 電郵:%0AOther Comment 其他意見:%0A%0A~~~~~~~~~~~~~~~~~~~~~~~~~~%0A%0AYou can contact us thru%0A您可以透過以下聯絡我們%0A%0AEmail: sales@crystalframe.com.tw%0ALine@: sqr1930c%0AFacebook: @crystalframeyuweihsu%0AFacebook:七色水晶框有限公司%0ASales Mobile: +886 922576813 (Taiwan)"
            },
            currencyTo : function(value) {
                switch (this.currency) {
                    case "NTD":
                        return value
                    case "CNY":
                        return  Math.round(value/4)
                    case "USD":
                        return Math.round(value/30)
                    case "JPY":
                        return Math.round(value/0.25)
                    case "EUR":
                        return Math.round(value/33)
                }
            }

        }
    });
</script>
</body>
</body>
</html>
